* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}


/* HEADER  *//* HEADER  *//* HEADER  *//* HEADER  *//* HEADER  */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 2.5rem;

    font-size: .8rem;
}

header i {
    font-size: 1rem;
}

header .btn-header {
    background-color: #4a4a4a;
    padding: .3em .5em;
    border-radius: .3em;
    margin-right: .5rem;
}
span.txt-header {
    vertical-align: top;
}
/* HEADER  *//* HEADER  *//* HEADER  *//* HEADER  *//* HEADER  */

/* MAIN  *//* MAIN  *//* MAIN  *//* MAIN  *//* MAIN  *//* MAIN  */
main {
    width: 90%;
    height: calc(100vh - 6.5rem);
    margin: 2.5rem auto 0;
    overflow: auto;

    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
    justify-content: center;

}

main .box-cam {
    flex-basis: 280px;
    height: 163px;
    margin: .4rem .2rem;
    flex-shrink: 1;
    position: relative;
}

main .txt-name-profile {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: .3em;
    font-size: .9rem;

    background-color: rgba(0, 0, 0, .5);
}

main i {
    padding-right: .4rem;
}

/* MAIN  *//* MAIN  *//* MAIN  *//* MAIN  *//* MAIN  *//* MAIN  */

/* FOOTER-NAV  *//* FOOTER-NAV  *//* FOOTER-NAV  *//* FOOTER-NAV  */
footer nav {
    display: flex;
    justify-content: space-between;

    position: fixed;
    bottom: 0;
    left: 0;

    width: 100vw;
    height: 4rem;

    font-size: .8rem;
    background-color: #222;
}

footer nav .nav-left {
    display: flex;
    align-items: center;
}

footer i.fa-chevron-up {
    font-size: .6rem;
    margin-right: .6rem;
}
footer i:not(.fa-chevron-up) {
    font-size: 1.3rem;
    margin: 0 .3rem;
}

.box-nav {
    margin: 0 .5em;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.txt-icon {
    padding-top: .3rem;
}

.nav-center {
    display: flex;
    align-items: center;

    flex-grow: 0;
    flex-shrink: 1;
}
.fa-share-square {
    color: #4bc800;
}

.nav-right {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    background-color: #a4a4a4;
    color: red;
    
}